.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 18px;
  font-size: 18px;
  font-weight: 400;
  list-style-type: none;
  display: flex;
  margin-bottom: 10px;
  opacity: 1;
}
.footer__column-link:hover {
  color: white;
  text-decoration: none;
  opacity: 0.5;
  transition: 0.1s;
}
