.two-columns__brief {
  color:#2f80ed;
  text-decoration: none;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  width: 175px;
  /* display: inline-block; */
  margin: 0;
  padding: 0;
  
}
