.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: 400;
  /* margin: 0px 0px 60px 0px; */
  margin: 16px auto;
  /* padding: 0px 0px; */
  width: 160px;
  text-align: center;
  justify-content: center;
}
