.footer__column-link {
  color:white;
  text-decoration: none;
  line-height: 18px;
  font-size: 18px;
  font-weight: 400;
  list-style-type: none;
  display: flex;
  margin-bottom: 10px;
}
.footer__column-link:hover {
  color: #2f80ed;
}
