.cards {
  width: 920px;
  display:flex;
  margin: auto;
  /* justify-content: center; - не работает */
  /* align-self:center; - тоже не работает, а вот margin: auto работает */
  flex-direction: row;
  flex-wrap:wrap;
  gap: 0px 100px;
}


